
.mobnav {
  overflow: visible;
  background-color: #333;
  position: relative;
  font-family: arial;
}

.mobnav #myLinks {
  display: none;
}

.mobnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.mobnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.mobnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
